#products_page {
  padding: 3% 0;

  #categories_select {
    width: fit-content;
    margin: 1% auto;

    .crumb_links {
      color: black;
      text-decoration: none;
      font-size: medium;
    }
  }

  .product_card_wrapper {
    max-width: 24%;
  }

  .products_crumb > ol {
    display: flex;
    justify-content: center;
  }

  #products_wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;

    .cart_button {
      height: 10%;
      display: flex;
      justify-content: center;
      padding: 0 5%;

      p {
        font-size: large;
      }

      button {
        color: black;
        font-weight: 500;
        font-size: medium;
      }
    }
    .product_card {
      .card_content {
        height: 40%;

        div {
          margin-bottom: 3%;
          font-weight: bold;
        }

        p {
          display: block;
        }
      }
    }

    .product_card {
      width: 24%;
      height: 60vh;
      margin: 3% 0;
      box-shadow: -1px 9px 14px darkgray;
      min-width: 100%;
      max-width: 24%;
      .product_card_img {
        height: 50%;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  #products_page > #products_wrapper {
    justify-content: center;
    align-items: flex-start;
    width: 97%;

    .product_card {
      box-shadow: 0 1px 3px darkgray;
      height: fit-content;
    }

    .product_card_wrapper {
      width: 24%;
      height: fit-content;
      margin: 1% 0;
      min-width: 47%;
      margin: 0 1% 3% 1%;

      .card_content {
        height: fit-content;
        padding: 0;
        padding-top: 5%;

        div {
          font-size: inherit;
          margin: 0;
        }

        p {
          display: none;
        }
      }

      .cart_button {
        flex-direction: column;
        padding: 3%;

        button {
          margin: 5% 0;
        }
      }

      .product_card_img {
        min-height: 25vh;
        height: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1250px) and (min-width: 850px) {
  #products_page > #products_wrapper {
    justify-content: center;
    align-items: flex-start;
    width: 97%;

    .product_card {
      box-shadow: 0 1px 3px darkgray;
    }

    .product_card_wrapper {
      width: 24%;
      height: fit-content;
      margin: 1% 0;
      min-width: 31%;
      margin: 0 1% 3% 1%;
    }
  }
}
