#products_page {
  padding: 3% 0;

  #categories_select {
    width: fit-content;
    margin: 1% auto;
    a {
      font-size: larger;
    }
  }

  #products_wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .product_card {
      width: 24%;
      height: 60vh;
      margin: 1% 0;

      .product_card_img {
        height: 300px;
      }
    }
  }
}
