.privacy_terms_wrapper {
  width: 85%;
  padding: 3% 0;
  margin: auto;
  text-align: left;

  .policy {
    margin: 2% auto;
    width: 90%;
  }

  p {
    margin: 1% auto;
    width: 80%;
  }

  h4 {
    padding-left: 10%;
    font-weight: bold;
  }

  h2 {
    text-align: center;
    font-weight: bold;
  }

  h3 {
    padding: 0 10%;
    font-weight: bold;
  }

  .company_details {
    margin-top: 3%;
    text-align: center;
  }
}
