#detail_heading {
  margin-top: 2%;
}

#details_wrapper {
  padding: 2% 7% 5% 7%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  #detail_carousel {
    width: 49%;
  }

  #details_info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1%;
    text-align: left;
    width: 49%;

    #details_product {
      height: 100%;
      padding: 0 1%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      h5 {
        margin: 1% 0;
        font-size: 20px;
        font-weight: bold;
      }

      h4 {
        margin: 1% 0;
        font-size: 25px;
        font-weight: bold;
        height: 5%;
      }

      h6 {
        height: 15%;
      }
    }

    #details_characteristics {
      padding: 1% 0;
      height: 45%;
    }

    #customization_prompt {
      height: 13%;
    }

    #colors_wrapper {
      height: 22%;
    }

    #color_choices > button {
      height: fit-content;
      width: fit-content;
      margin: 0 1%;
      border: 0;
      background-color: transparent;
      border-radius: 50%;
    }

    #color_choices > button > img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 1%;
    }

    #radio_group_customization {
      display: flex;
      justify-content: left;
    }
  }

  #details_btn {
    height: 6%;
    width: fit-content;
    border-radius: 0;
    background-color: black;
    margin: 2% 0;
  }
}

@media only screen and (max-width: 1200px) {
  #details_wrapper {
    flex-direction: column;

    #details_info_wrapper {
      width: 90%;

      #details_product {
        text-align: center;
        margin: 2% 0;
      }

      h4 {
        margin-bottom: 2%;
      }
    }

    #radio_group_customization {
      display: flex;
      justify-content: center !important;
    }

    #detail_carousel {
      width: 90%;
    }

    #details_btn {
      margin: auto;
    }
  }
}
