#review_order {
  .listItem {
    padding: 1%;
  }

  .total {
    font-weight: 700;
  }

  .title {
    margin-top: 3%;
  }
}

#checkout {
  width: 60%;
  margin: 5vh auto;
  max-height: 90vh;

  .appBar {
    position: relative;
  }

  .layout {
    width: auto;
  }
  .paper {
    padding: 5%;
    margin: 3% 0%;
  }
  .stepper {
    padding: 5%;

    svg {
      color: black !important;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .button {
    margin-top: 3%;
    margin-left: 3%;
    background-color: black;
    color: white;
  }
  .company_select {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  #checkout {
    width: 90%;
  }
}
