#review_order {
  margin: 3vh 0;
  .listItem {
    padding: 1%;
  }

  .total {
    font-weight: 700;
  }

  .title {
    margin-top: 3%;
  }
}

#checkout {
  width: 60%;
  margin: 5vh auto;
  max-height: 90vh;

  .appBar {
    position: relative;
  }

  .layout {
    width: auto;
  }
  .paper {
    padding: 5%;
    margin: 3% 0%;
  }
  .stepper {
    padding: 5%;

    svg {
      color: black !important;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .button {
    margin-top: 3%;
    margin-left: 3%;
    background-color: black;
    color: white;
  }
  .company_select {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
  #checkout {
    width: 90%;

    .paper {
      height: fit-content;
    }

    .stepper {
      display: block;

      .MuiStepConnector-horizontal {
        display: none;
      }

      div {
        padding: 1%;
        text-align: center;
      }
    }
    .table-data {
      td {
        text-align: center;
      }
    }
    .row-head {
      img {
        margin-bottom: 3%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #checkout {
    width: 90%;
    margin: 5vh auto;

    .table-data {
      td {
        text-align: center;
      }
    }

    .stepper {
      display: block;

      .MuiStepConnector-horizontal {
        display: none;
      }

      div {
        padding: 1%;
        text-align: center;
      }
    }

    .row-head {
      img {
        margin-bottom: 3%;
      }
    }
    .paper {
      overflow: scroll;
      height: 85vh;
    }
  }
}
