#header {
  background-color: #f3ece1;
  .logo {
    width: 170px;
    height: 75px;
    margin: 1% 0;
  }

  .toolbar {
    border-bottom: 1px solid gray;
    display: block;
    justify-content: space-between;
    align-items: center;

    align-content: center;
  }

  .links_wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 1%;
    align-items: center;
    justify-content: center;

    a {
      padding: 10px;
      text-decoration: none;
      font-size: 20px;
    }

    a:hover {
      color: #b0a695;
    }
  }

  .toolbarTitle {
    flex: 1;
  }

  .toolbarSecondary {
    justify-content: space-between;
    overflow-x: auto;
  }

  .toolbarLink {
    padding: 1%;
    flex-shrink: 0;
  }

  .header_links {
    color: black;
  }

  .cart_icon {
    width: 30px;
    height: 30px;
  }

  #header_menu_wrapper {
    width: 30%;
    height: 50px;
    display: flex;

    button {
      margin: auto;

      svg {
        height: 40px;
        width: 40px;
        color: darkgrey;
      }
    }
  }
}

#basic-menu {
  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    width: 50%;
    left: 25% !important;

    a {
      text-decoration: none;
      color: black;
    }

    li {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 900px) {
  .links_wrapper {
    flex-direction: column;
  }
}
