#mainFeaturedPost {
  position: relative;
  background-color: gray;
  color: wheat;
  margin-bottom: 1%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .mainFeaturedPostContent {
    position: relative;
    padding: 5%;
    height: 40vh;
    align-content: center;
  }
}
