.App {
  text-align: center;
}

.featured_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  margin: 2%;
}

.modal_btn_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3%;
}

.modal_btn_wrapper > .modal_btn {
  height: 6%;
  width: fit-content;
  border-radius: 0;
  margin: 3% 6% 3% 6%;
  background-color: black;
  color: white;

  text-align: center;
}

.modal_btn_wrapper > p {
  width: 100%;
  margin: 2%;
}

.modal_btn_wrapper > p > .anchor {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.modal_btn_wrapper > .modal_btn:hover {
  background-color: rgb(43, 43, 43);
}

#cart_floaty {
  position: fixed;
  bottom: 5%;
  right: 2%;
  background-color: #f3ece1;
  color: black;
  width: 4%;
  height: 7%;
}

@media only screen and (max-width: 700px) {
  #cart_floaty {
    bottom: 2%;
    width: 20%;
    height: 7%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
  #cart_floaty {
    bottom: 2%;
    width: 10%;
    height: 7%;
  }
}
